@model V3BindingDefinitionViewModel
@{
    var binding = this.Model.Binding;
    var bindingName = binding.GetType().Name.Replace("ServerBindingDefinition", "").Replace("ChannelBindingDefinition", "").Replace("OperationBindingDefinition", "").Replace("MessageBindingDefinition", "").ToUpperInvariant();
}

<div class="card my-3">
    <a data-bs-toggle="collapse" href="#@($"{this.Model.ParentRef}_{bindingName}")" role="button" aria-expanded="false" class="collapsed">
        <div class="card-header">
            <i class="caret text-dark"></i>
            <span class="text-secondary fw-bold">@bindingName</span>
        </div>
    </a>
    <div id="@($"{this.Model.ParentRef}_{bindingName}")" class="card-body collapse">
        <div class="card border-0">
            <div class="card-body m-0 p-0">
                    @{
                        var properties = binding.GetType().GetProperties().Where(p => !p.TryGetCustomAttribute<JsonIgnoreAttribute>(out _));
                        if (properties.Any())
                        {
                            foreach (var property in properties)
                            {
                                var value = property.GetValue(binding);
                                if (value == null) continue;
                                <div class="row mb-1">

                                    <div class="col-2 text-secondary">
                                        <small>@property.Name</small>
                                    </div>
                                    
                                    <div class="col">
                                        <span class="badge border border-muted text-secondary">@value</span>
                                    </div>

                                </div>
                            }
                        }
                        else
                        {
                            <p class="alert alert-warning fst-italic my-3"><small>No specific configuration.</small></p>
                        }
                    }
            </div>
        </div>
    </div>
</div>