@model V3CorrelationIdDefinitionViewModel
@{
    var correlationId = this.Model.CorrelationId;
}

<div>

    @if (!string.IsNullOrWhiteSpace(correlationId.Description))
    {
        <small class="text-secondary">@Html.Raw(Markdown.ToHtml(correlationId.Description))</small>
    }
    
    <table class="table">
        <tbody>
            <tr>
                <td class="fit">
                    <small class="text-secondary">Location</small>
                    <small class="bi bi-info-circle text-secondary ms-1" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="A runtime expression that specifies the location of the correlation ID"></small>
                </td>
                <td>
                    <small class="badge border border-muted text-secondary"><code>@correlationId.Location</code></small>
                </td>
            </tr>
        </tbody>
    </table>

</div>