@model CorrelationIdDefinitionViewModel
@{
    var correlationId = this.Model.CorrelationId;
}

<div>

    @if (!string.IsNullOrWhiteSpace(correlationId.Description))
    {
        <p><small class="fst-italic">@correlationId.Description</small></p>
    }

    <div class="row p-3">
        <div class="col-2">
            <small class="text-secondary">Location</small>
            <small class="bi bi-info-circle text-secondary ms-1" role="button" title="A runtime expression that specifies the location of the correlation ID"></small>
        </div>
        <div class="col-2"><small class="badge border border-muted text-secondary"><pre><code>@correlationId.Location</code></pre></small></div>
    </div>

</div>