@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Neuroglia.AsyncApi.AspNetCore.UI.Pages.AsyncApiDocumentModel
@inject Microsoft.Extensions.Options.IOptions<AsyncApiDocumentServingOptions> ServingOptions
@{
    var document = this.Model.Document;
    this.ViewBag.Title = document?.Title;
}

<div>
    @if (document == null)
    {
        if (string.IsNullOrWhiteSpace(this.Model.RequestedTitle))
        {
            <p class="text-danger text-center">No AsyncAPI documents available. Check out the <a href="https://github.com/neuroglia-io/AsyncApi#usage" target="_blank">docs</a> to get started.</p>
        }
        else
        {
            <p class="text-danger text-center">Failed to find an AsyncAPI document with title '@(this.Model.RequestedTitle)' @(string.IsNullOrWhiteSpace(this.Model.RequestedVersion) ? "" : $"and version '{this.Model.RequestedVersion}'").</p>
        }
    }
    else
    {
        switch (document)
        {
            case V2AsyncApiDocument:
                <partial name="v2/_V2AsyncApi" model="Model" />
                break;
            case V3AsyncApiDocument:
                <partial name="v3/_V3AsyncApi" model="Model" />
                break;
            default:
                <p class="alert alert-danger">Unsupported Async API Specification version '@document.AsyncApi'</p>
                break;
        }
    }
</div>
